@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Prompt&family=Roboto&display=swap');

* {
    font-size: 18px;
    font-family: 'Prompt', sans-serif;

}

body {
    background-image: url(/page/image/bg-202301.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    color: white;
}
.card-header {
    font-size: 32px;
}

.container-fluid img {
    width: 50px;
    margin-right: 10px;
}
.btn-link{
    color: #6ea8fe;
    background: transparent;
    border: transparent;
}